/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>

&lt {
    flavor = "balanced";
    tapping_term_ms = <200>;
};

&caps_word {
    continue-list = <UNDERSCORE MINUS BSPC DEL N1 N2 N3 N4 N5 N6 N7 N8 N9 N0>;
};

/ {
    behaviors {
        hm_l: left_hand_positional_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "POSITIONAL_HOLD_TAP_LEFT";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <300>;
            bindings =
                <&kp>,
                <&kp>;

            //hold-trigger-key-positions = <0 1 2 3 4  5 6 7 8 9  15 16 17 18 19  25 26 27 28 29>;// <---[[left-hand keys + thumbs]]
        };
        hm_r: right_hand_positional_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "POSITIONAL_HOLD_TAP_RIGHT";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <300>;
            bindings =
                <&kp>,
                <&kp>;

            //hold-trigger-key-positions = <0 1 2 3 4  5 6 7 8 9  15 16 17 18 19  25 26 27 28 29>;// <---[[right-hand keys + thumbs]]
        };
    };

    combos {
        compatible = "zmk,combos";

        caps_word {
            bindings = <&caps_word>;
            key-positions = <10 19>;
        };

        ralt {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <30 31>;
        };

        ralt2 {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <32 33>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        master {
            bindings = <
              &kp Q   &kp W          &kp F             &kp P            &kp B        &kp J              &kp L          &kp U    &kp Y        &kp SEMICOLON
 &hm_l LEFT_SHIFT A   &kp R  &hm_l LCTRL S  &hm_l LEFT_ALT T            &kp G        &kp M  &hm_r RIGHT_ALT N  &hm_r RCTRL E    &kp I  &hm_r RIGHT_SHIFT O
              &kp Z   &kp X          &kp C      &hm_l LGUI D            &kp V        &kp K       &hm_r RGUI H      &kp COMMA  &kp DOT         &kp QUESTION
                                                 &lt 1 ENTER  &lt 3 BACKSPACE  &lt 3 SPACE       &lt 1 DELETE
            >;
        };

        symbols_1 {
            bindings = <
 &kp EXCLAMATION        &kp AT      &kp HASH    &kp DOLLAR        &kp PRCNT         &kp CARET           &kp AMPS     &kp ASTRK      &kp PIPE      &kp UNDER
    &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4     &kp NUMBER_5      &kp NUMBER_6       &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9   &kp NUMBER_0
       &kp ASTRK     &kp SLASH      &kp PLUS     &kp MINUS        &kp EQUAL  &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES     &kp COMMA       &kp DOT  &kp BACKSLASH
                                               &lt 1 ENTER  &lt 2 BACKSPACE         &lt 2 DEL        &lt 1 SPACE
            >;
        };

        symbols_2 {
            bindings = <
   &kp TAB  &kp RBRC  &kp RIGHT_BRACKET  &kp RIGHT_PARENTHESIS         &kp GT  &kp INSERT   &kp HOME  &kp PG_UP  &kp PG_DN          &kp END
   &kp ESC  &kp LBRC   &kp LEFT_BRACKET   &kp LEFT_PARENTHESIS         &kp LT    &kp LEFT   &kp DOWN     &kp UP  &kp RIGHT       &kp ESCAPE
 &kp LSHFT  &kp LALT          &kp LCTRL               &kp LGUI          &none       &none   &kp RGUI  &kp RCTRL   &kp LALT  &kp RIGHT_SHIFT
                                                     &kp ENTER  &kp BACKSPACE  &kp DELETE  &kp SPACE
            >;
        };

        f_keys {
            bindings = <
         &kp F1         &kp F2            &kp F3        &kp F4   &kp F5   &kp F6        &kp F6             &kp F8         &kp F9          &kp F10
 &kp LEFT_SHIFT  &kp RIGHT_ALT  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp F11  &kp F12  &kp LEFT_ALT  &kp RIGHT_CONTROL  &kp RIGHT_ALT  &kp RIGHT_SHIFT
          &none          &none             &none         &none    &none    &none         &none              &none          &none            &none
                                                         &mo 4    &mo 5    &mo 5         &mo 4
            >;
        };

        media {
            bindings = <
  &none       &none        &kp K_NEXT  &kp K_VOL_UP   &none   &none        &none   &none   &none   &none
  &none  &kp K_STOP  &kp K_PLAY_PAUSE    &kp K_MUTE   &none   &none        &none   &none   &none   &none
  &none       &none    &kp K_PREVIOUS  &kp K_VOL_DN   &none   &none        &none   &none   &none   &none
                                              &none   &none   &none  &bootloader
            >;
        };

        kb_func {
            bindings = <
   &bt BT_PRV    &bt BT_CLR    &bt BT_NXT         &none     &bl BL_ON      &bl BL_INC            &none  &rgb_ug RGB_TOG  &rgb_ug RGB_HUI  &rgb_ug RGB_HUD
 &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3    &bl BL_TOG    &bl BL_SET 0  &rgb_ug RGB_SPI  &rgb_ug RGB_SPD  &rgb_ug RGB_SAI  &rgb_ug RGB_SAD
 &out OUT_BLE  &out OUT_TOG  &out OUT_USB  &bt BT_SEL 4  &bl BL_CYCLE  &bl BL_SET 100  &rgb_ug RGB_EFF  &rgb_ug RGB_EFR  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD
                                                  &none    &bl BL_OFF      &bl BL_DEC            &none
            >;
        };
    };
};
